body {
  font-family: sans-serif; /*estilo de letra*/
}

.videofondo {
  position: fixed; /*fija la posición del video en el fondo*/
  top: 0; /*margen arriba*/
  left: 0; /*margen de la izquierda */
  width: 100%; /*ancho del video */
  height: 100%; /*altura del video */
  overflow: hidden; /*oculta cualquier contenido que se desborde */
  z-index: -1; /*video detras de otros elementos */
}

header {
  font-size: 75px; /*tamaño de letra*/
  font-weight: bold; /*negrita */
  text-align: left; /*alineacion a la izquierda */
  margin: 5px 10px 5px 10px; /*marrgenes alrededor del texto */
  color: red; /*color*/
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); /*agrega sombra al texto */
}

nav {
    width: 80%; /*ancho de la barra*/
    margin-top: 5px; /*margen arriba */
    margin-left: 150px; /*margenes de la izquierda */
}

ul {
    list-style-type: none; /*elimina los puntos de lista */
    margin: 0; /*margen*/
    padding: 0; /*relleno*/
    overflow: hidden; /*evita que los elementos se desborden */
    background-color: #333; /*color de fondo*/
    display: flex; /*contenedor flexible*/
    justify-content: center; /*centra los elementos en la barra */
}

li {
    float: left; /*hace que los elementos se alineen de izquierda a derecha */
}

li a {
    display: block; /*contenedor ocupa todo el bloque */
    color: white; /* Color para el texto */
    text-align: center; /*alineacion del texto */
    padding: 14px 16px; /*relleno alrededor del texto */
    text-decoration: none; /*elimina el subrayado de los enlaces */
}

li a:hover {
    background-color: #111; /* fondo más oscuro al pasar encima */
}

.caja1 {
    text-align: center; /*alineacion centrada*/
    width: 40%; /*ancho de la caja*/
    height: 915px; /*altura de la caja */
    border-radius: 50px; /*bordes redondeados */
    margin-top: 30px; /*margen arriba */
    margin-left: 450px; /*margen de la izquierda*/
    border: 2px solid rgba(204, 204, 204, 0.5); /*borde transparente */
    background-color: rgba(255, 255, 255, 0.8); /*fondo blanco*/
}

h3 {
  font-size: 20px; /*tamaño de letra*/
}

p {
  font-size: 18px; /*tamaño de letra*/
}

.dlabel {
    font-size: 18px; /*tamaño de letra */
    color: gray; /*color de texto*/
}

.clabel {
  font-size: 18px; /*tamaño de letra */
  color: gray; /*color de texto*/
  display: block; /*la etiqueta ocupa todo el ancho */
  margin-bottom: 3px; /*espacio debajo de la etiqueta */
}

.cinput {
  width: 90%; /*ancho del cuadro de texto */
  padding: 10px; /*relleno dentro del cuadro */
  border: 3px solid rgb(238, 218, 218); /*estilo del borde */
  border-radius: 4px; /*bordes redondeados */
  font-size: 1rem; /*tamaño del texto*/
  box-sizing: border-box; /*asegura que el padding no afecte el ancho */
}

button {
  display: inline-block; /*hace que el botón se muestre en linea */
  border-radius: 4px; /*bordes redondeados */
  background-color: #f4511e; /*color del fondo */
  color: #FFFFFF; /*color del texto */
  text-align: center; /*alineacion del texto */
  font-size: 16px; /*tamaño de letra*/
  padding: 8px; /*espaciado dentro del boton */
  width: 200px; /*ancho del boton */
  cursor: pointer; /*cambia el cursor al pasar sobre el boton */
  margin: 2px; /*margen alrededor del boton */
}

footer {
  background-color: #333; /*color de fondo*/
  text-align: center; /*alineacion del texto*/
  width: 100%; /*ancho*/
  height: 3%; /*altura*/
}

.fot {
  color: white; /*color del texto*/
}

#ref {
  padding: 8px; /*relleno alrededor de los iconos */
  width: 50px; /*ancho de los iconos */
  height: 50px; /*alto de los iconos */
}