body {
  font-family: sans-serif; /*tipo de letra */
}

.videofondo {
  position: fixed; /*fija el video*/
  top: 0; /*margen*/
  left: 0; /*margen*/
  width: 100%; /*ancho del video*/
  height: 100%; /* alto del video */
  overflow: hidden; /*oculta cualquier contenido que se desborde */
  z-index: -1; /*coloca el video detrás de todo*/
}

header {
  font-size: 75px; /*tamaño de letra */
  font-weight: bold; /*texto en negrita */
  text-align: left; /*alineacion a la izquierda*/
  margin: 5px 10px 5px 10px; /*margenes alrededor del encabezado */
  color: red; /*texto rojo */
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); /* Sombra alrededor del texto*/
}

nav {
  width: 80%; /*barra de navegación al 80% de ancho */
  margin-top: 5px; /*margin arriba*/
  margin-left: 150px; /*margen a la derecha */
}

ul {
  list-style-type: none; /*elimina los puntos de la lista */
  margin: 0; /*margen*/
  padding: 0; /*relleno*/
  overflow: hidden; /*no se desborden los elementos */
  background-color: #333; /*color de fondo*/
  display: flex; /*disposición de los enlaces */
  justify-content: center; /* contenido centrado */
}

li {
  float: left; /*alineacion horizontalmente */
}

li a {
  display: block; /*ocupa todo el espacio del elemento */
  color: white; /*color del texto blanco */
  text-align: center; /*alineacion del texto */
  padding: 14px 16px; /*espaciado dentro de los enlaces */
  text-decoration: none; /*elimina el subrayado */
}

li a:hover {
  background-color: #111; /*fondo de color*/
}

#caja {
  margin-top: 5px; /*margen arriba*/
  display: flex; /*disposicion del contenido*/
  justify-content: center; /*alinea elementos horizontalmente */
  align-items: center; /*alinea elementos verticalmente */
  width: 80%; /*ancho */
  margin: 0 auto; /*centrado horizontal */
  gap: 20px; /*espacio entre los contenedores */
}

h3 {
  text-align: center; /*centrado*/
  font-size: 60px; /*tamaño de letra*/
  font-weight: bold; /*en negrita */
}

.cont {
  border: 2px solid rgba(204, 204, 204, 0.5); /*borde delgado y transparente */
  background-color: rgba(255, 255, 255, 0.8); /*fondo blanco opaco */
  padding: 50px; /*espaciado dentro del contenedor */
  margin-top: 100px; /*espacio arriba del contenedor */
  border-radius: 8px; /*bordes redondeados */
  width: 60%; /* ancho 60% de la caja */
  text-align: justify; /*justifica el texto*/
}

#uno {
  border-radius: 30%; /*bordes redondeados */
  display: flow-root; /*la imagen ocupa el espacio necesario */
  width: 500px; /*ancho imagen*/
  height: 300px; /*alto imagen*/
  margin: auto; /*centra la imagen */
  padding: 30px; /*relleno alrededor*/
  overflow: hidden; /*oculta cualquier desbordamiento */
}

#uno:hover {
  -webkit-transform: scale(1.3); /*escala la imagen al 130% */
  transform: scale(1.3); /*escala la imagen al 130% */
}

#dos {
  border-radius: 30%; /*bordes redondeados*/
  display: flow-root; /*imagen ocupa espacio necesario*/
  width: 500px; /*ancho imagen*/
  height: 300px; /*alto imagen*/
  margin: auto; /*margen automatico*/
  padding: 45px; /*relleno alrededor*/
  overflow: hidden; /*oculta cualquier desbordamiento*/
}

#dos:hover {
  -webkit-transform: scale(1.3); /*escala la imagen al 130%*/
  transform: scale(1.3); /*escala la imagen al 130%*/
}

.contenedor2 {
  padding: 20px; /*relleno alrededor*/
  border-radius: 8px; /*bordes redondeados*/
  width: 48%; /*ancho del 48% dentro de la caja */
  margin-top: 10px; /*margen arriba*/
}

.contenedor3 {
  padding: 20px; /*relleno alrededor*/
  border-radius: 8px; /*bordes redondeados*/
  width: 48%; /*ancho del conteneor*/
  margin-top: 22%; /*margen arriba*/
  height: 60%; /*alto del contenedor*/
}

.enlace {
  font-size: 30px; /*tamaño de letra */
  text-align: justify; /*justifica el texto */
  color: aliceblue; /*color de texto*/
}

#enlace2 {
  display: inline-block; /*hace que el enlace ocupe solo el espacio necesario */
  font-size: 18px; /*tamaño del texto*/
  background: #fff; /*fondo blanco*/
  padding: 8px 26px; /*espaciado dentro del enlace */
  text-transform: uppercase; /*texto a mayúsculas */
  text-decoration: none; /*elimina el subrayado */
  font-weight: 18px; /*ancho del texto*/
  margin-top: 10px; /*margen arriba*/
  color: rgba(19, 18, 18, 0.5); /* Color gris */
  letter-spacing: 2px; /*espaciado entre letras */
  transition: 0.2s; /*transicion*/
  border-radius: 10px; /* Bordes redondeados */
}

#enlace2:hover {
  letter-spacing: 6px; /*espaciado entre letras */
}

.motiva {
  width: 550px; /*ancho*/
  height: 550px; /*alto*/
  display: block; /*tamaño de video ocupe el espacio necesario */
}

footer {
  background-color: rgba(204, 204, 204, 0.8); /*fondo transparente */
  text-align: center; /*alineacion de texto*/
  width: 100%; /*ancho*/
  height: 3%; /*altura */
}

.fot {
  color: white; /*color blanco */
  font-size: 18px; /*tamaño de letra*/
}

#ref {
  padding: 8px; /*espaciado alrededor de los iconos */
  width: 50px; /*ancho de los iconos */
  height: 50px; /*alto de los iconos */
}