body {
    background-image: url(/IMAGE/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-size: 250px;
    text-align: center;
    margin: 5px 10px 5px 10px;
    color: tomato;
    /*-webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;*/
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
nav {
    width: 80%;
    margin-top: 5px;
    margin-left: 150px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }